pyenchant
wordcloud
xgboost
lightgbm
#google
#google.colab
pandas
joblib
scikit-learn==1.2.2
#For app2.py
#opencv-python
tensorflow
moviepy
#numpy==1.23.1
#numpy==1.24.3
numpy==1.23.5
mxnet-mkl==1.6.0
nltk
openpyxl
pyyaml
opencv-python-headless
seaborn